name: GoReleaser

on:
  pull_request:
  push:
    tags:
      - "*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Git fetch
        run: git fetch --force --tags
      - name: Setup Go with cache
        uses: actions/setup-go@v3
        with:
          go-version: '>=1.19.5'
          cache: true
      - name: GoReleaser run
        uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
